.content {
    margin: 1rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: stretch;
    text-align: center;
    height: 75%;
  }

  #member{
    width: 100%;
  }