.header h4{
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    color: #00dba4;
}

.form{
    display: flex;
    flex-direction: column;
}

.form p {
    text-align: right;
}

.form p a {
    color: #00dba4;
    font-size: 14px;
}

.form>input{
    height: 46px;
    padding: 0 16px;
    border: 2px solid #ddd;
    border-radius: 4px;
    outline: 0;
    margin-top: 20px;
}

.form>input:focus{
    border-color: #00dba4;
}

.form button{
    padding: 12px 10px;
    border: 0;
    background: #00dba4;
    border-radius: 3px;
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.auth-box{
    background-color: white;
    padding: 48px 56px;
    border: 2px solid #00dba4;
    box-shadow: rgba(0, 219, 164,0.15) 0px 48px 100px 0px;
}



.show-pass{
    font-size: 12px;
    margin-top: 6px;
}

.show-pass-forgot{
    font-size: 12px;
    margin: 8px 0;
}

.forgot-password:hover{
    color: #00af83;
    transform: translateY(-2px);
    cursor: pointer;
}